@import 'variables';

.content {
  @apply pt-8 absolute top-0 left-0 right-0 opacity-0 bg-white mb-10 overflow-x-hidden;

  animation: fadeIn 620ms forwards;
  animation-delay: 320ms;
  animation-timing-function: cubic-bezier(0,.56,.61,.98);

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, calc(#{$glide-slide-width} + 10vh), 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, $glide-slide-width, 0);
    }
  }

  .teaser {
    @apply -mt-12 mb-12 w-3/4 text-2xl font-serif font-light italic;

    color: black !important;

    @screen md {
      @apply w-5/6;
    }
  
    @screen lg {
      @apply w-3/4;
    }
  }

  .container {
    > p {
      @apply text-gray-900;
    }
  }
}
