@import 'variables';

.glide {
  display: flex;
  align-items: center;
  height: 100%;

  &__track {
    @apply overflow-visible;

    height: $glide-slide-width;
  }

  &__slides {
    @apply h-full overflow-visible;
  }

  &__slide {
    @apply relative h-full bg-center bg-cover opacity-100 bg-black;

    padding-top: $glide-slide-width;
    transition: opacity 340ms;

    &__content {
      @apply hidden text-gray-900;

      h2 {
        @screen lg {
          @apply w-2/3;
        }
      }
    }

    &.--inverse {
      @apply bg-white;

      opacity: 1 !important;

      h1 {
        @apply text-black;
      }
    }

    &#{&}--active:not(.--no-shadow)  {
      @apply opacity-100 cursor-pointer;

      &:before {
        @apply opacity-100;
      }
    }

    &:not(.--no-shadow) {

      &:before {
        @apply absolute inset-0 opacity-0;
        
        content: '';
        mix-blend-mode: screen;
        transition: opacity 340ms;
        background: linear-gradient(45deg, #0e64a9, rgba($primary-color, 0.8));
      }
    }

    &:hover {
      @media (hover:hover) {
        opacity: 1 !important;
      }
    }

    h1 {
      @apply m-0 absolute inset-0 flex justify-center items-center uppercase font-black text-white text-lg p-2 break-words;

      line-height: 0.8;

      @screen md {
        @apply text-xl p-4;
      }

      @screen md {
        @apply text-3xl p-6;
      }

      @screen xl {
        @apply text-4xl;
      }
    }
  }
}