@import 'variables';

.list {

  &--bullets {

    li {
      @apply pl-10 relative;

      &:before {
        @apply absolute inset-y-0 flex justify-center;

        content: '–';
        left: 1rem;
        color: $primary-color;
      }
    }
  }

  &--do {
    @apply text-lg font-normal mt-8;

    @screen md {
      @apply text-xl;
    }

    i {
      @apply mr-1 font-serif;
      
      color: $primary-color;
    }
  }
}