@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

@import 'variables';
@import 'base';

@import 'cards';
@import 'container';
@import 'content';
@import 'glide';
@import 'grid';
@import 'list';
@import 'picture';

:root {
  --app-height: 100vh;
}

section {
  @apply fixed top-0 left-0 right-0 h-full flex flex-col overflow-hidden justify-center mt-0;
  
  transition: all 540ms;
  transition-delay: 60ms;
  transform: scale(calc(5/3)) translate3d(0, 0, 0);
  height: var(--app-height);

  &.--swiping {
    transform: scale(1);
  }

  &.--full-screen {
    @apply overflow-y-auto overflow-x-hidden;

    transform: scale(1) translate3d(0, calc(-1 * calc(100vh / 2) + calc(20vw / 2)), 0);
    
    @media not all and (hover:hover) {
      transform: scale(1) translate3d(0, calc(-1 * calc(var(--app-height) / 2) + calc(20vw / 2)), 0);
    } 

    .glide {
      
      &__slides {
        touch-action: pan-y;
      }
    }
  }
}